In [37]:
from sqlalchemy import create_engine
import psycopg2

In [38]:
dbname = 'mid_term_project'
user = 'lhl_student'
password = 'lhl_student'
host = 'lhl-data-bootcamp.crzjul5qln0e.ca-central-1.rds.amazonaws.com'
port = 5432

In [39]:
conn = psycopg2.connect(f"dbname={dbname} user={user} password={password} host={host} port={port}")

In [40]:
cur = conn.cursor()

In [21]:
sql = "SELECT * FROM passengers WHERE year = 2019;"

In [22]:
cur.execute(sql)

In [23]:
ret_list = cur.fetchall()

In [24]:
import pandas as pd

In [25]:
column_list = [ 'departures_scheduled', 'departures_performed', 'payload',
       'seats', 'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp',
       'air_time', 'unique_carrier', 'airline_id', 'unique_carrier_name',
       'region', 'carrier', 'carrier_name', 'carrier_group',
       'carrier_group_new', 'origin_airport_id', 'origin_city_market_id',
       'origin', 'origin_city_name', 'origin_country', 'origin_country_name',
       'dest_airport_id', 'dest_city_market_id', 'dest', 'dest_city_name',
       'dest_country', 'dest_country_name', 'aircraft_group', 'aircraft_type',
       'aircraft_config', 'year', 'month', 'distance_group', 'class',
       'data_source']

In [26]:
df = pd.DataFrame(ret_list, columns=column_list)

In [27]:
df.sort_values('month')

,departures_scheduled,departures_performed,payload,seats,passengers,freight,mail,distance,ramp_to_ramp,air_time,...,dest_country,dest_country_name,aircraft_group,aircraft_type,aircraft_config,year,month,distance_group,class,data_source
306392,22.0,22.0,77000.0,0.0,0.0,30655.0,0.0,51.0,694.0,489.0,...,US,United States,4,416,2,2019,1,1,G,DU
101533,0.0,1.0,30978.0,120.0,13.0,0.0,0.0,436.0,0.0,0.0,...,CA,Canada,6,698,1,2019,1,1,F,IF
101532,0.0,177.0,4266365.0,17164.0,12061.0,12265.0,0.0,436.0,0.0,0.0,...,CA,Canada,6,678,1,2019,1,1,F,IF
101531,0.0,16.0,584074.0,2704.0,2209.0,0.0,0.0,3091.0,0.0,0.0,...,CA,Canada,6,614,1,2019,1,7,F,IF
101530,0.0,60.0,2420081.0,10140.0,8470.0,343.0,0.0,2673.0,0.0,0.0,...,CA,Canada,6,614,1,2019,1,6,F,IF
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330424,27.0,27.0,982800.0,4914.0,4358.0,0.0,0.0,1111.0,5136.0,4444.0,...,US,United States,6,694,1,2019,12,3,F,DU
292661,18.0,18.0,252000.0,1260.0,914.0,0.0,0.0,205.0,1242.0,737.0,...,US,United States,6,673,1,2019,12,1,F,DU
292660,18.0,18.0,273600.0,1368.0,1211.0,0.0,0.0,936.0,3023.0,2530.0,...,US,United States,6,673,1,2019,12,2,F,DU
239458,7.0,7.0,1399241.0,0.0,0.0,459093.0,0.0,254.0,457.0,324.0,...,US,United States,7,740,2,2019,12,1,G,DU
273626,13.0,13.0,527910.0,2080.0,1926.0,3457.0,136.0,760.0,1681.0,1297.0,...,US,United States,6,614,1,2019,12,2,F,DU

In [28]:
df.to_csv('passengers_2019.csv')

In [29]:
# sqlinsane = "SELECT * FROM flights;" --when feeling ambitious try this at full throttle

In [41]:
sql2 = "SELECT * FROM passengers WHERE year = 2018;"

In [42]:
cur.execute(sql2)

In [43]:
ret_list2 = cur.fetchall()

In [44]:
df2 = pd.DataFrame(ret_list2, columns=[ 'departures_scheduled', 'departures_performed', 'payload',
       'seats', 'passengers', 'freight', 'mail', 'distance', 'ramp_to_ramp',
       'air_time', 'unique_carrier', 'airline_id', 'unique_carrier_name',
       'region', 'carrier', 'carrier_name', 'carrier_group',
       'carrier_group_new', 'origin_airport_id', 'origin_city_market_id',
       'origin', 'origin_city_name', 'origin_country', 'origin_country_name',
       'dest_airport_id', 'dest_city_market_id', 'dest', 'dest_city_name',
       'dest_country', 'dest_country_name', 'aircraft_group', 'aircraft_type',
       'aircraft_config', 'year', 'month', 'distance_group', 'class',
       'data_source'])

In [53]:
df.region.value_counts()

D    398737
I     50677
L     26393
A      6538
P      4042
Name: region, dtype: int64

In [55]:
df2.region.value_counts()

D    385097
I     53293
L     26127
A      6594
P      4073
Name: region, dtype: int64

In [62]:
final_df.dest_country.value_counts()

US    868096
CA     17522
MX     15994
GB      4509
DE      2983
       ...
TN         1
KV         1
MN         1
SI         1
NP         1
Name: dest_country, Length: 153, dtype: int64

In [61]:
final_df = pd.concat([df, df2])

In [63]:
final_df.drop(final_df[final_df['dest_country'] != 'US'].index, inplace=True)

In [64]:
final_df.drop(final_df[final_df['origin_country'] != 'US'].index, inplace=True)

In [68]:
final_df.year.value_counts()

2019    318729
2018    311729
Name: year, dtype: int64

In [69]:
final_df.to_csv("passenger_master.csv")