## EDA - Task 3

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import os

In [5]:
import datetime as dt

In [2]:
flights = pd.read_csv('data/flights_10000.csv', index_col=0)
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-10,WN,WN,WN,2212,WN,N958WN,2212,14683,SAT,...,822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-10-10,UA,UA,UA,206,UA,N68811,206,13930,ORD,...,1005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-18,AA,AA_CODESHARE,AA,4221,MQ,N694AE,4221,12891,LAW,...,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-25,UA,UA_CODESHARE,UA,4822,ZW,NaN,4822,14685,SAV,...,773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-24,DL,DL,DL,957,DL,N693DL,957,11433,DTW,...,1960.0,0.0,0.0,28.0,0.0,0.0,NaN,NaN,NaN,NaN

In [3]:
flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

## **Task 3**: Does the weather affect the delay? 
Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:
- sunny
- cloudy
- rainy
- snow.
Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

In [307]:
#select the relevant cols 
weather_df = flights[['fl_date', 'origin_city_name','crs_dep_time', 'dest_city_name', 'crs_arr_time']].head(10)
weather_df

,fl_date,origin_city_name,crs_dep_time,dest_city_name,crs_arr_time
0,2018-07-10,"San Antonio, TX",705,"Nashville, TN",915
1,2019-10-10,"Chicago, IL",800,"Orlando, FL",1148
2,2019-07-18,"Lawton/Fort Sill, OK",1034,"Dallas/Fort Worth, TX",1130
3,2018-11-25,"Savannah, GA",2200,"Chicago, IL",2327
4,2018-10-24,"Detroit, MI",841,"Santa Ana, CA",1039
5,2019-06-08,"Richmond, VA",1149,"Dallas/Fort Worth, TX",1400
6,2018-01-29,"Charlotte, NC",1436,"St. Louis, MO",1534
7,2019-08-14,"Allentown/Bethlehem/Easton, PA",1844,"Sanford, FL",2105
8,2019-01-28,"Tucson, AZ",735,"Dallas/Fort Worth, TX",1050
9,2018-03-05,"Charlotte, NC",1759,"Raleigh/Durham, NC",1854

In [235]:
import requests
import time

In [220]:
#let's create a list of all city/date combinations to see if we can be more efficient with our api pulls
city_date = flights[['fl_date', 'origin_city_name']].rename({'origin_city_name': 'city'}, axis = 1)    #start with origin cities
temp = flights[['fl_date', 'dest_city_name']].rename({'dest_city_name': 'city'}, axis = 1)             #dest cities

In [226]:
#append dest cities to origin cities
city_date = pd.concat([city_date, temp], ignore_index=True)

In [229]:
city_date.shape        #confirm the df doubles in size

(20000, 2)

In [231]:
#find unique city_date combos
city_date.groupby(['fl_date','city']).size().reset_index().rename(columns={0:'count'}).sort_values(by = 'count', ascending = False)

          fl_date                 city  count
6240   2018-10-25         New York, NY      7
11766  2019-07-10          Chicago, IL      7
13671  2019-10-02          Chicago, IL      7
11589  2019-07-01          Chicago, IL      7
14817  2019-11-23           Denver, CO      7
...           ...                  ...    ...
5819   2018-10-05        Baltimore, MD      1
5820   2018-10-05           Boston, MA      1
5821   2018-10-05        Charlotte, NC      1
5826   2018-10-05  Fort Lauderdale, FL      1
15629  2019-12-31       Washington, DC      1

[15630 rows x 3 columns]

unique combos only reduce the total pulls by 4370. In the grand scheme of things this is not enough of a reducion to go this route.

In [324]:
#open weather api function
def open_weather_api(lat, long, date, timezone = "America%2FChicago"):
    """
    function returns individual api calls by location and date. 
    """
    #timezone = America%2FChicago #timezone format, opportunity to fine tune this - doesn't work for some reason, I think formatting
    
    url = f"https://archive-api.open-meteo.com/v1/era5?latitude={lat}&longitude={long}&start_date={date}&end_date={date}&hourly=precipitation,rain,snowfall,cloudcover&daily=precipitation_sum,rain_sum,snowfall_sum,precipitation_hours&timezone={timezone}"
    response = requests.get(url)
    return response.json()

In [321]:
test_api = open_weather_api("41.75","-87.75","2018-10-25", "America%2FNew_York")

In [322]:
test_api

{'latitude': 41.75,
 'longitude': -87.75,
 'generationtime_ms': 0.3420114517211914,
 'utc_offset_seconds': -14400,
 'timezone': 'America/New_York',
 'timezone_abbreviation': 'EDT',
 'elevation': 192.0,
 'hourly_units': {'time': 'iso8601',
  'precipitation': 'mm',
  'rain': 'mm',
  'snowfall': 'cm',
  'cloudcover': '%'},
 'hourly': {'time': ['2018-10-25T00:00',
   '2018-10-25T01:00',
   '2018-10-25T02:00',
   '2018-10-25T03:00',
   '2018-10-25T04:00',
   '2018-10-25T05:00',
   '2018-10-25T06:00',
   '2018-10-25T07:00',
   '2018-10-25T08:00',
   '2018-10-25T09:00',
   '2018-10-25T10:00',
   '2018-10-25T11:00',
   '2018-10-25T12:00',
   '2018-10-25T13:00',
   '2018-10-25T14:00',
   '2018-10-25T15:00',
   '2018-10-25T16:00',
   '2018-10-25T17:00',
   '2018-10-25T18:00',
   '2018-10-25T19:00',
   '2018-10-25T20:00',
   '2018-10-25T21:00',
   '2018-10-25T22:00',
   '2018-10-25T23:00'],
  'precipitation': [0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0],
  'rain': [0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0],
  'snowfall': [0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0,
   0.0],
  'cloudcover': [30,
   10,
   29,
   30,
   36,
   34,
   34,
   31,
   30,
   30,
   32,
   30,
   35,
   67,
   85,
   88,
   89,
   89,
   77,
   81,
   81,
   77,
   75,
   82]},
 'daily_units': {'time': 'iso8601',
  'precipitation_sum': 'mm',
  'rain_sum': 'mm',
  'snowfall_sum': 'cm',
  'precipitation_hours': 'h'},
 'daily': {'time': ['2018-10-25'],
  'precipitation_sum': [0.0],
  'rain_sum': [0.0],
  'snowfall_sum': [0.0],
  'precipitation_hours': [0.0]}}

In [256]:
#api requires lat/long, found a csv of american cities and lat/longs
lat_long_df = pd.read_csv('data/uscities.csv')
lat_long_df = lat_long_df[['city', 'state_id', 'lat', 'lng', 'timezone']]

In [262]:
#create a column, city_state, to match our main city column
lat_long_df['city_state'] = lat_long_df['city'] + ", " + lat_long_df['state_id']

In [263]:
lat_long_df.head()

,city,state_id,lat,lng,timezone,city_state
0,New York,NY,40.6943,-73.9249,America/New_York,"New York, NY"
1,Los Angeles,CA,34.1141,-118.4068,America/Los_Angeles,"Los Angeles, CA"
2,Chicago,IL,41.8375,-87.6866,America/Chicago,"Chicago, IL"
3,Miami,FL,25.7840,-80.2101,America/New_York,"Miami, FL"
4,Dallas,TX,32.7935,-96.7667,America/Chicago,"Dallas, TX"

In [318]:
#attempt to fix the timezone formatting
lat_long_df['timezone'] = lat_long_df['timezone'].str.replace("/", "%2F")

In [319]:
lat_long_df

,city,state_id,lat,lng,timezone
city_state,,,,,
"New York, NY",New York,NY,40.6943,-73.9249,America%2FNew_York
"Los Angeles, CA",Los Angeles,CA,34.1141,-118.4068,America%2FLos_Angeles
"Chicago, IL",Chicago,IL,41.8375,-87.6866,America%2FChicago
"Miami, FL",Miami,FL,25.7840,-80.2101,America%2FNew_York
"Dallas, TX",Dallas,TX,32.7935,-96.7667,America%2FChicago
...,...,...,...,...,...
"Drummond, ID",Drummond,ID,43.9996,-111.3433,America%2FBoise
"Lost Springs, WY",Lost Springs,WY,42.7652,-104.9255,America%2FDenver
"Provo, SD",Provo,SD,43.1937,-103.8329,America%2FDenver
"Goldcreek, MT",Goldcreek,MT,46.5838,-112.9284,America%2FDenver
"Le Roy, IA",Le Roy,IA,40.8779,-93.5926,America%2FChicago

In [329]:
#create empty cols in weather df to be filled with the column filler function
weather_df['weather_origin'] = 0
weather_df['weather_dest'] = 0
weather_df.head()

,fl_date,origin_city_name,crs_dep_time,dest_city_name,crs_arr_time,weather_origin,weather_dest
0,2018-07-10,"San Antonio, TX",705,"Nashville, TN",915,0,0
1,2019-10-10,"Chicago, IL",800,"Orlando, FL",1148,0,0
2,2019-07-18,"Lawton/Fort Sill, OK",1034,"Dallas/Fort Worth, TX",1130,0,0
3,2018-11-25,"Savannah, GA",2200,"Chicago, IL",2327,0,0
4,2018-10-24,"Detroit, MI",841,"Santa Ana, CA",1039,0,0

In [ ]:
#get rid of the second city name i.e. Lawton/Fort Sill, OK -------> Lawton, OK

In [378]:
#cleaning the city names
state = weather_df['origin_city_name'].str.split(',').apply(lambda x: x[1])       #split city(s) and state
temp = weather_df['origin_city_name'].str.split(',').apply(lambda x: x[0])        #split the multiple states into a list
city_task3 = temp.str.split('/').apply(lambda x: x[0])                            #[0] will be the first city in your city list (temp)

result3 = city_task3 + ',' + state

In [379]:
result3

0    San Antonio, TX
1        Chicago, IL
2         Lawton, OK
3       Savannah, GA
4        Detroit, MI
5       Richmond, VA
6      Charlotte, NC
7      Allentown, PA
8         Tucson, AZ
9      Charlotte, NC
Name: origin_city_name, dtype: object

In [380]:
weather_df['origin_city_name'] = result3

In [ ]:
#replace the above with a func

In [383]:
def city_scrubber(df, target_column):
    """
    update target_column in dataframe df to remove multiple city names with alternate names within string.
    doesn't return anything, but your df will be scrubbed
    """
    state = df[target_column].str.split(',').apply(lambda x: x[1])       #split city(s) and state
    temp = df[target_column].str.split(',').apply(lambda x: x[0])        #split the multiple states into a list
    city = temp.str.split('/').apply(lambda x: x[0])                            #[0] will be the first city in your city list (temp)
    
    result = city + ',' + state
    df[target_column] = result

In [384]:
city_scrubber(weather_df, 'dest_city_name')
#city_scrubber(weather_df, 'origin_city_name')

In [385]:
weather_df

,fl_date,origin_city_name,crs_dep_time,dest_city_name,crs_arr_time,weather_origin,weather_dest
0,2018-07-10,"San Antonio, TX",705,"Nashville, TN",915,sunny,sunny
1,2019-10-10,"Chicago, IL",800,"Orlando, FL",1148,rain,rain
2,2019-07-18,"Lawton, OK",1034,"Dallas, TX",1130,0,0
3,2018-11-25,"Savannah, GA",2200,"Chicago, IL",2327,0,0
4,2018-10-24,"Detroit, MI",841,"Santa Ana, CA",1039,0,0
5,2019-06-08,"Richmond, VA",1149,"Dallas, TX",1400,0,0
6,2018-01-29,"Charlotte, NC",1436,"St. Louis, MO",1534,0,0
7,2019-08-14,"Allentown, PA",1844,"Sanford, FL",2105,0,0
8,2019-01-28,"Tucson, AZ",735,"Dallas, TX",1050,0,0
9,2018-03-05,"Charlotte, NC",1759,"Raleigh, NC",1854,0,0

In [338]:
def weather_cols_openweather(df, lat_long_df = lat_long_df):
    """
    Params: 
    df = weather_df
    lat_long_df
    """
    
    locations = ["origin", "dest"]
    
    for index in df.index:
        
        for loc in locations:
            city = df[f'{loc}_city_name'][index]
            date = df['fl_date'][index]
            
            #print(lat_long_df['lat'][lat_long_df.index.str.match(city)])
                                     
            lat = float(lat_long_df['lat'][lat_long_df.index.str.match(city)])
            long = float(lat_long_df['lng'][lat_long_df.index.str.match(city)])
            #timezone = lat_long_df['timezone'][lat_long_df.index.str.match(city)]

            json_result = open_weather_api(lat, long, date)      #remove timezone, not working 
            #print(json_result)

            total_rain = int(json_result['daily']['rain_sum'][0])                  # mm
            total_snow = int(json_result['daily']['snowfall_sum'][0])              # cm
            cloudcover_mean = round(sum(json_result['hourly']['cloudcover'])/len(json_result['hourly']['cloudcover']))     # %

            if total_rain == 0 & total_snow == 0 & cloudcover_mean < 40:
                df[f'weather_{loc}'][index] = "sunny"
            elif total_rain == 0 & total_snow == 0 & cloudcover_mean >= 40:
                df[f'weather_{loc}'][index] = "cloudy"
            elif total_rain > 0 & total_snow == 0:
                df[f'weather_{loc}'][index] = "rain"
            elif total_rain == 0 & total_snow > 0:
                df[f'weather_{loc}'][index] = "snow"
            elif total_rain > 0 & total_snow > 0:
                df[f'weather_{loc}'][index] = "snow & rain"
            else:
                df[f'weather_{loc}'][index] = "error"

In [386]:
weather_cols_openweather(weather_df)

city_state
San Antonio, TX    29.4632
Name: lat, dtype: float64
{'latitude': 29.5, 'longitude': -98.5, 'generationtime_ms': 0.34999847412109375, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 256.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-07-10T00:00', '2018-07-10T01:00', '2018-07-10T02:00', '2018-07-10T03:00', '2018-07-10T04:00', '2018-07-10T05:00', '2018-07-10T06:00', '2018-07-10T07:00', '2018-07-10T08:00', '2018-07-10T09:00', '2018-07-10T10:00', '2018-07-10T11:00', '2018-07-10T12:00', '2018-07-10T13:00', '2018-07-10T14:00', '2018-07-10T15:00', '2018-07-10T16:00', '2018-07-10T17:00', '2018-07-10T18:00', '2018-07-10T19:00', '2018-07-10T20:00', '2018-07-10T21:00', '2018-07-10T22:00', '2018-07-10T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [38, 33, 33, 26, 13, 85, 91, 91, 65, 61, 54, 67, 34, 17, 21, 24, 30, 35, 46, 51, 62, 56, 50, 38]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-07-10'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Nashville, TN    36.1715
Name: lat, dtype: float64

C:\Users\3_hal\AppData\Local\Temp\ipykernel_15016\2179816563.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'weather_{loc}'][index] = "sunny"

{'latitude': 36.25, 'longitude': -86.75, 'generationtime_ms': 0.34105777740478516, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 184.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-07-10T00:00', '2018-07-10T01:00', '2018-07-10T02:00', '2018-07-10T03:00', '2018-07-10T04:00', '2018-07-10T05:00', '2018-07-10T06:00', '2018-07-10T07:00', '2018-07-10T08:00', '2018-07-10T09:00', '2018-07-10T10:00', '2018-07-10T11:00', '2018-07-10T12:00', '2018-07-10T13:00', '2018-07-10T14:00', '2018-07-10T15:00', '2018-07-10T16:00', '2018-07-10T17:00', '2018-07-10T18:00', '2018-07-10T19:00', '2018-07-10T20:00', '2018-07-10T21:00', '2018-07-10T22:00', '2018-07-10T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [18, 17, 55, 54, 48, 100, 100, 80, 63, 57, 56, 25, 13, 15, 13, 13, 17, 44, 52, 44, 41, 26, 11, 7]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-07-10'], 'precipitation_sum': [0.1], 'rain_sum': [0.1], 'snowfall_sum': [0.0], 'precipitation_hours': [1.0]}}
city_state
Chicago, IL    41.8375
Name: lat, dtype: float64
{'latitude': 41.75, 'longitude': -87.75, 'generationtime_ms': 0.3451108932495117, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 192.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-10-10T00:00', '2019-10-10T01:00', '2019-10-10T02:00', '2019-10-10T03:00', '2019-10-10T04:00', '2019-10-10T05:00', '2019-10-10T06:00', '2019-10-10T07:00', '2019-10-10T08:00', '2019-10-10T09:00', '2019-10-10T10:00', '2019-10-10T11:00', '2019-10-10T12:00', '2019-10-10T13:00', '2019-10-10T14:00', '2019-10-10T15:00', '2019-10-10T16:00', '2019-10-10T17:00', '2019-10-10T18:00', '2019-10-10T19:00', '2019-10-10T20:00', '2019-10-10T21:00', '2019-10-10T22:00', '2019-10-10T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4, 0.0, 0.0, 0.0, 0.6, 1.5, 1.6], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.4, 0.0, 0.0, 0.0, 0.6, 1.5, 1.6], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [51, 80, 44, 59, 66, 72, 2, 21, 13, 23, 29, 33, 34, 31, 33, 76, 88, 93, 83, 66, 87, 100, 100, 100]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-10-10'], 'precipitation_sum': [4.1], 'rain_sum': [4.1], 'snowfall_sum': [0.0], 'precipitation_hours': [4.0]}}
city_state
Orlando, FL    28.4773
Name: lat, dtype: float64

C:\Users\3_hal\AppData\Local\Temp\ipykernel_15016\2179816563.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[f'weather_{loc}'][index] = "rain"

{'latitude': 28.5, 'longitude': -81.25, 'generationtime_ms': 0.3540515899658203, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 23.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-10-10T00:00', '2019-10-10T01:00', '2019-10-10T02:00', '2019-10-10T03:00', '2019-10-10T04:00', '2019-10-10T05:00', '2019-10-10T06:00', '2019-10-10T07:00', '2019-10-10T08:00', '2019-10-10T09:00', '2019-10-10T10:00', '2019-10-10T11:00', '2019-10-10T12:00', '2019-10-10T13:00', '2019-10-10T14:00', '2019-10-10T15:00', '2019-10-10T16:00', '2019-10-10T17:00', '2019-10-10T18:00', '2019-10-10T19:00', '2019-10-10T20:00', '2019-10-10T21:00', '2019-10-10T22:00', '2019-10-10T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.6, 0.0, 0.6, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.6, 0.0, 0.6, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [51, 43, 42, 100, 47, 26, 32, 15, 43, 89, 38, 26, 56, 60, 59, 51, 53, 54, 40, 45, 35, 30, 40, 34]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-10-10'], 'precipitation_sum': [1.4], 'rain_sum': [1.4], 'snowfall_sum': [0.0], 'precipitation_hours': [4.0]}}
city_state
Lawton, OK    34.6175
Name: lat, dtype: float64
{'latitude': 34.5, 'longitude': -98.5, 'generationtime_ms': 5.824923515319824, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 349.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-07-18T00:00', '2019-07-18T01:00', '2019-07-18T02:00', '2019-07-18T03:00', '2019-07-18T04:00', '2019-07-18T05:00', '2019-07-18T06:00', '2019-07-18T07:00', '2019-07-18T08:00', '2019-07-18T09:00', '2019-07-18T10:00', '2019-07-18T11:00', '2019-07-18T12:00', '2019-07-18T13:00', '2019-07-18T14:00', '2019-07-18T15:00', '2019-07-18T16:00', '2019-07-18T17:00', '2019-07-18T18:00', '2019-07-18T19:00', '2019-07-18T20:00', '2019-07-18T21:00', '2019-07-18T22:00', '2019-07-18T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [0, 0, 0, 0, 0, 0, 0, 2, 1, 1, 1, 1, 1, 6, 8, 7, 6, 1, 1, 4, 2, 0, 0, 0]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-07-18'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Dallas, TX    32.7935
Name: lat, dtype: float64
{'latitude': 32.75, 'longitude': -96.75, 'generationtime_ms': 3.588080406188965, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 151.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-07-18T00:00', '2019-07-18T01:00', '2019-07-18T02:00', '2019-07-18T03:00', '2019-07-18T04:00', '2019-07-18T05:00', '2019-07-18T06:00', '2019-07-18T07:00', '2019-07-18T08:00', '2019-07-18T09:00', '2019-07-18T10:00', '2019-07-18T11:00', '2019-07-18T12:00', '2019-07-18T13:00', '2019-07-18T14:00', '2019-07-18T15:00', '2019-07-18T16:00', '2019-07-18T17:00', '2019-07-18T18:00', '2019-07-18T19:00', '2019-07-18T20:00', '2019-07-18T21:00', '2019-07-18T22:00', '2019-07-18T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [27, 30, 32, 31, 28, 25, 24, 19, 3, 22, 19, 10, 11, 12, 10, 1, 0, 0, 1, 7, 10, 0, 4, 3]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-07-18'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Savannah, GA    32.0286
Name: lat, dtype: float64
{'latitude': 32.0, 'longitude': -81.25, 'generationtime_ms': 5.164980888366699, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 10.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-11-25T00:00', '2018-11-25T01:00', '2018-11-25T02:00', '2018-11-25T03:00', '2018-11-25T04:00', '2018-11-25T05:00', '2018-11-25T06:00', '2018-11-25T07:00', '2018-11-25T08:00', '2018-11-25T09:00', '2018-11-25T10:00', '2018-11-25T11:00', '2018-11-25T12:00', '2018-11-25T13:00', '2018-11-25T14:00', '2018-11-25T15:00', '2018-11-25T16:00', '2018-11-25T17:00', '2018-11-25T18:00', '2018-11-25T19:00', '2018-11-25T20:00', '2018-11-25T21:00', '2018-11-25T22:00', '2018-11-25T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.2, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 94, 69, 62, 59, 58, 61, 76, 98, 80, 86, 100, 78, 56]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-11-25'], 'precipitation_sum': [0.2], 'rain_sum': [0.2], 'snowfall_sum': [0.0], 'precipitation_hours': [1.0]}}
city_state
Chicago, IL    41.8375
Name: lat, dtype: float64
{'latitude': 41.75, 'longitude': -87.75, 'generationtime_ms': 0.38504600524902344, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 192.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-11-25T00:00', '2018-11-25T01:00', '2018-11-25T02:00', '2018-11-25T03:00', '2018-11-25T04:00', '2018-11-25T05:00', '2018-11-25T06:00', '2018-11-25T07:00', '2018-11-25T08:00', '2018-11-25T09:00', '2018-11-25T10:00', '2018-11-25T11:00', '2018-11-25T12:00', '2018-11-25T13:00', '2018-11-25T14:00', '2018-11-25T15:00', '2018-11-25T16:00', '2018-11-25T17:00', '2018-11-25T18:00', '2018-11-25T19:00', '2018-11-25T20:00', '2018-11-25T21:00', '2018-11-25T22:00', '2018-11-25T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.3, 0.5, 0.5, 0.4, 0.7, 0.7, 0.5, 0.4, 0.5, 1.2, 1.9, 2.4, 2.6, 2.8], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.1, 0.3, 0.5, 0.5, 0.4, 0.7, 0.7, 0.5, 0.4, 0.5, 1.2, 1.8, 1.7, 1.4, 1.2], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.07, 0.49, 0.84, 1.12], 'cloudcover': [80, 100, 100, 64, 87, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-11-25'], 'precipitation_sum': [15.5], 'rain_sum': [11.9], 'snowfall_sum': [2.52], 'precipitation_hours': [15.0]}}
city_state
Detroit, MI    42.3834
Name: lat, dtype: float64
{'latitude': 42.5, 'longitude': -83.0, 'generationtime_ms': 2.025008201599121, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 194.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-10-24T00:00', '2018-10-24T01:00', '2018-10-24T02:00', '2018-10-24T03:00', '2018-10-24T04:00', '2018-10-24T05:00', '2018-10-24T06:00', '2018-10-24T07:00', '2018-10-24T08:00', '2018-10-24T09:00', '2018-10-24T10:00', '2018-10-24T11:00', '2018-10-24T12:00', '2018-10-24T13:00', '2018-10-24T14:00', '2018-10-24T15:00', '2018-10-24T16:00', '2018-10-24T17:00', '2018-10-24T18:00', '2018-10-24T19:00', '2018-10-24T20:00', '2018-10-24T21:00', '2018-10-24T22:00', '2018-10-24T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [0, 0, 0, 0, 0, 10, 12, 24, 21, 9, 30, 49, 64, 68, 83, 83, 87, 58, 48, 36, 27, 9, 12, 7]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-10-24'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Santa Ana, CA    33.7367
Name: lat, dtype: float64
{'latitude': 33.75, 'longitude': -118.0, 'generationtime_ms': 4.068970680236816, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 31.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-10-24T00:00', '2018-10-24T01:00', '2018-10-24T02:00', '2018-10-24T03:00', '2018-10-24T04:00', '2018-10-24T05:00', '2018-10-24T06:00', '2018-10-24T07:00', '2018-10-24T08:00', '2018-10-24T09:00', '2018-10-24T10:00', '2018-10-24T11:00', '2018-10-24T12:00', '2018-10-24T13:00', '2018-10-24T14:00', '2018-10-24T15:00', '2018-10-24T16:00', '2018-10-24T17:00', '2018-10-24T18:00', '2018-10-24T19:00', '2018-10-24T20:00', '2018-10-24T21:00', '2018-10-24T22:00', '2018-10-24T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [23, 25, 33, 32, 28, 100, 82, 67, 62, 59, 39, 39, 40, 14, 8, 0, 0, 13, 9, 7, 12, 18, 13, 11]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-10-24'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Richmond, VA    37.5295
Name: lat, dtype: float64
{'latitude': 37.5, 'longitude': -77.5, 'generationtime_ms': 4.323005676269531, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 56.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-06-08T00:00', '2019-06-08T01:00', '2019-06-08T02:00', '2019-06-08T03:00', '2019-06-08T04:00', '2019-06-08T05:00', '2019-06-08T06:00', '2019-06-08T07:00', '2019-06-08T08:00', '2019-06-08T09:00', '2019-06-08T10:00', '2019-06-08T11:00', '2019-06-08T12:00', '2019-06-08T13:00', '2019-06-08T14:00', '2019-06-08T15:00', '2019-06-08T16:00', '2019-06-08T17:00', '2019-06-08T18:00', '2019-06-08T19:00', '2019-06-08T20:00', '2019-06-08T21:00', '2019-06-08T22:00', '2019-06-08T23:00'], 'precipitation': [2.1, 2.0, 1.3, 0.7, 0.6, 0.5, 1.3, 2.2, 1.7, 0.5, 0.1, 0.0, 0.0, 0.0, 0.6, 1.5, 0.5, 0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [2.1, 2.0, 1.3, 0.7, 0.6, 0.5, 1.3, 2.2, 1.7, 0.5, 0.1, 0.0, 0.0, 0.0, 0.6, 1.5, 0.5, 0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 89, 93, 100, 80, 100, 72, 100, 94, 100, 100, 100, 100, 100]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-06-08'], 'precipitation_sum': [15.9], 'rain_sum': [15.9], 'snowfall_sum': [0.0], 'precipitation_hours': [15.0]}}
city_state
Dallas, TX    32.7935
Name: lat, dtype: float64
{'latitude': 32.75, 'longitude': -96.75, 'generationtime_ms': 1.2389421463012695, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 151.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-06-08T00:00', '2019-06-08T01:00', '2019-06-08T02:00', '2019-06-08T03:00', '2019-06-08T04:00', '2019-06-08T05:00', '2019-06-08T06:00', '2019-06-08T07:00', '2019-06-08T08:00', '2019-06-08T09:00', '2019-06-08T10:00', '2019-06-08T11:00', '2019-06-08T12:00', '2019-06-08T13:00', '2019-06-08T14:00', '2019-06-08T15:00', '2019-06-08T16:00', '2019-06-08T17:00', '2019-06-08T18:00', '2019-06-08T19:00', '2019-06-08T20:00', '2019-06-08T21:00', '2019-06-08T22:00', '2019-06-08T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 13, 37, 43, 15, 23, 6, 10, 0, 1, 1, 1, 1, 1, 0]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-06-08'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Charlotte, NC    35.2083
Name: lat, dtype: float64
{'latitude': 35.25, 'longitude': -80.75, 'generationtime_ms': 0.3999471664428711, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 208.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-01-29T00:00', '2018-01-29T01:00', '2018-01-29T02:00', '2018-01-29T03:00', '2018-01-29T04:00', '2018-01-29T05:00', '2018-01-29T06:00', '2018-01-29T07:00', '2018-01-29T08:00', '2018-01-29T09:00', '2018-01-29T10:00', '2018-01-29T11:00', '2018-01-29T12:00', '2018-01-29T13:00', '2018-01-29T14:00', '2018-01-29T15:00', '2018-01-29T16:00', '2018-01-29T17:00', '2018-01-29T18:00', '2018-01-29T19:00', '2018-01-29T20:00', '2018-01-29T21:00', '2018-01-29T22:00', '2018-01-29T23:00'], 'precipitation': [0.4, 0.2, 0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.3, 0.1, 0.0, 0.4, 0.4, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.4, 0.2, 0.3, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.3, 0.1, 0.0, 0.4, 0.4, 0.1, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [100, 94, 86, 100, 80, 52, 52, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 26, 12, 4, 2, 12, 40, 38]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-01-29'], 'precipitation_sum': [2.2], 'rain_sum': [2.2], 'snowfall_sum': [0.0], 'precipitation_hours': [8.0]}}
city_state
St. Louis, MO    38.6359
Name: lat, dtype: float64
{'latitude': 38.75, 'longitude': -90.25, 'generationtime_ms': 0.3420114517211914, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 160.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2018-01-29T00:00', '2018-01-29T01:00', '2018-01-29T02:00', '2018-01-29T03:00', '2018-01-29T04:00', '2018-01-29T05:00', '2018-01-29T06:00', '2018-01-29T07:00', '2018-01-29T08:00', '2018-01-29T09:00', '2018-01-29T10:00', '2018-01-29T11:00', '2018-01-29T12:00', '2018-01-29T13:00', '2018-01-29T14:00', '2018-01-29T15:00', '2018-01-29T16:00', '2018-01-29T17:00', '2018-01-29T18:00', '2018-01-29T19:00', '2018-01-29T20:00', '2018-01-29T21:00', '2018-01-29T22:00', '2018-01-29T23:00'], 'precipitation': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'rain': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [94, 87, 77, 47, 63, 82, 97, 83, 49, 59, 81, 88, 86, 91, 90, 90, 90, 77, 78, 45, 12, 5, 4, 0]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2018-01-29'], 'precipitation_sum': [0.0], 'rain_sum': [0.0], 'snowfall_sum': [0.0], 'precipitation_hours': [0.0]}}
city_state
Allentown, PA    40.5961
Name: lat, dtype: float64
{'latitude': 40.5, 'longitude': -75.5, 'generationtime_ms': 5.3550004959106445, 'utc_offset_seconds': -18000, 'timezone': 'America/Chicago', 'timezone_abbreviation': 'CDT', 'elevation': 140.0, 'hourly_units': {'time': 'iso8601', 'precipitation': 'mm', 'rain': 'mm', 'snowfall': 'cm', 'cloudcover': '%'}, 'hourly': {'time': ['2019-08-14T00:00', '2019-08-14T01:00', '2019-08-14T02:00', '2019-08-14T03:00', '2019-08-14T04:00', '2019-08-14T05:00', '2019-08-14T06:00', '2019-08-14T07:00', '2019-08-14T08:00', '2019-08-14T09:00', '2019-08-14T10:00', '2019-08-14T11:00', '2019-08-14T12:00', '2019-08-14T13:00', '2019-08-14T14:00', '2019-08-14T15:00', '2019-08-14T16:00', '2019-08-14T17:00', '2019-08-14T18:00', '2019-08-14T19:00', '2019-08-14T20:00', '2019-08-14T21:00', '2019-08-14T22:00', '2019-08-14T23:00'], 'precipitation': [0.0, 0.2, 0.0, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 0.1, 0.1, 0.0, 0.0, 0.0, 3.3, 0.5, 1.7, 2.7, 2.7, 1.5, 0.2, 0.0, 0.0, 0.0], 'rain': [0.0, 0.2, 0.0, 0.0, 0.0, 0.2, 0.0, 0.0, 0.0, 0.1, 0.1, 0.0, 0.0, 0.0, 3.3, 0.5, 1.7, 2.7, 2.7, 1.5, 0.2, 0.0, 0.0, 0.0], 'snowfall': [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], 'cloudcover': [29, 21, 17, 25, 32, 100, 100, 86, 52, 57, 66, 39, 64, 58, 70, 57, 51, 78, 62, 100, 56, 39, 37, 35]}, 'daily_units': {'time': 'iso8601', 'precipitation_sum': 'mm', 'rain_sum': 'mm', 'snowfall_sum': 'cm', 'precipitation_hours': 'h'}, 'daily': {'time': ['2019-08-14'], 'precipitation_sum': [13.2], 'rain_sum': [13.2], 'snowfall_sum': [0.0], 'precipitation_hours': [11.0]}}
city_state
Sanford, FL    28.7891
Name: lat, dtype: float64

In [387]:
weather_df

,fl_date,origin_city_name,crs_dep_time,dest_city_name,crs_arr_time,weather_origin,weather_dest
0,2018-07-10,"San Antonio, TX",705,"Nashville, TN",915,sunny,sunny
1,2019-10-10,"Chicago, IL",800,"Orlando, FL",1148,rain,rain
2,2019-07-18,"Lawton, OK",1034,"Dallas, TX",1130,sunny,sunny
3,2018-11-25,"Savannah, GA",2200,"Chicago, IL",2327,sunny,rain
4,2018-10-24,"Detroit, MI",841,"Santa Ana, CA",1039,sunny,sunny
5,2019-06-08,"Richmond, VA",1149,"Dallas, TX",1400,rain,sunny
6,2018-01-29,"Charlotte, NC",1436,"St. Louis, MO",1534,rain,sunny
7,2019-08-14,"Allentown, PA",1844,"Sanford, FL",2105,rain,rain
8,2019-01-28,"Tucson, AZ",735,"Dallas, TX",1050,sunny,sunny
9,2018-03-05,"Charlotte, NC",1759,"Raleigh, NC",1854,sunny,sunny

### Let's try it out on the flights_test

In [4]:
#load test data (these are the cols we will have at the test phase)
fl_test = pd.read_csv('data/flights_test_10.csv')
fl_test.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,1577836800000,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,1577836800000,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,1577836800000,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,1577836800000,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,1577836800000,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333

In [5]:
pd.Timestamp.fromtimestamp(1577836800000/1000)

Timestamp('2020-01-01 00:00:00')

In [54]:
fl_test['fl_date'] = fl_test['fl_date']/1000
fl_test['fl_date'] = fl_test['fl_date'].apply(pd.Timestamp.fromtimestamp)

In [56]:
fl_test

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,origin_city_name,dest_airport_id,dest,dest_city_name,crs_dep_time,crs_arr_time,dup,crs_elapsed_time,flights,distance
0,2020-01-01,WN,WN,WN,5888,WN,N951WN,5888,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1810,1945,N,95,1,363
1,2020-01-01,WN,WN,WN,6276,WN,N467WN,6276,13891,ONT,"Ontario, CA",14771,SFO,"San Francisco, CA",1150,1320,N,90,1,363
2,2020-01-01,WN,WN,WN,4598,WN,N7885A,4598,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",2020,2130,N,70,1,333
3,2020-01-01,WN,WN,WN,4761,WN,N551WN,4761,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1340,1455,N,75,1,333
4,2020-01-01,WN,WN,WN,5162,WN,N968WN,5162,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",915,1035,N,80,1,333
5,2020-01-01,WN,WN,WN,5684,WN,N7856A,5684,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",600,715,N,75,1,333
6,2020-01-01,WN,WN,WN,6152,WN,N7735A,6152,13891,ONT,"Ontario, CA",14831,SJC,"San Jose, CA",1620,1740,N,80,1,333
7,2020-01-01,WN,WN,WN,1679,WN,N405WN,1679,13891,ONT,"Ontario, CA",14893,SMF,"Sacramento, CA",1505,1630,N,85,1,390
8,2020-01-01,WN,WN,WN,3479,WN,N489WN,3479,13891,ONT,"Ontario, CA",14893,SMF,"Sacramento, CA",1230,1355,N,85,1,390
9,2020-01-01,WN,WN,WN,4069,WN,N7708E,4069,13891,ONT,"Ontario, CA",14893,SMF,"Sacramento, CA",740,900,N,80,1,390

In [8]:
fl_test.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance'],
      dtype='object')