#### **Task 2**: Is average/median monthly delay different during the year? If yes, which are months with the biggest delays and what could be the reason?

In [1]:
# Import Pandas and Numpy to deal with DataFrames and NaN
import pandas as pd
import numpy as np

# Import MatPlotLib and Seaborn to help visualize the data
import matplotlib.pyplot as plt
import seaborn as sns

# Import os for file reader
import os

In [2]:
# Get current working directory
current_directory = os.getcwd()
print(current_directory)

/Users/brandonrose/Midterm_Project

In [6]:
# Pull the data from csv by concatenating current working directory with
# '/data/flights_10000.csv'
data = pd.read_csv(current_directory +'/data/flights_10000.csv')
data.drop(['Unnamed: 0', 'no_name'], axis=1, inplace=True)

In [7]:
# First, we can convert the column dtype for the date from Object to datetime64
data['fl_date'] = pd.to_datetime(data['fl_date'])

In [8]:
# Create DF with year column, delay columns, diverted and cancellation
df_delays = data.loc[:, ['fl_date', 'dep_delay', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'diverted', 'cancelled']]

In [9]:
# We know everything is numeric, so we can fill NaN with 0s
df_delays = df_delays.fillna(0)

In [10]:
# Group by year, month. Calculate sum for the departure and arrival delay columns. Include delay type columns for more insight.
delays_grouped = df_delays.groupby([df_delays['fl_date'].dt.year.rename('Year'),
                                    df_delays['fl_date'].dt.month.rename('Month')])[['dep_delay', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay', ]].sum().reset_index()

In [12]:
#store the mean of our delay totals in a new column for each month
delays_grouped['month_delay_avg'] = delays_grouped[['dep_delay', 'arr_delay']].mean(axis=1)

In [17]:
#Sort DataFrame based on new month_delay_avg column in descending order
print("Delay Times in Minutes:")
delays_grouped[['Year', 'Month', 'month_delay_avg']].sort_values(['month_delay_avg'], ascending=False)

Delay Times in Minutes:

    Year  Month  month_delay_avg
18  2019      7           6254.0
13  2019      2           5310.0
17  2019      6           4974.0
4   2018      5           4667.5
16  2019      5           4132.0
3   2018      4           4051.0
12  2019      1           3936.0
6   2018      7           3934.5
7   2018      8           3819.0
10  2018     11           3785.0
23  2019     12           3662.5
14  2019      3           3538.5
5   2018      6           3494.5
19  2019      8           3159.5
8   2018      9           2966.5
15  2019      4           2709.5
21  2019     10           2519.5
2   2018      3           2207.0
1   2018      2           2124.5
9   2018     10           2109.0
0   2018      1           1989.5
11  2018     12           1663.0
20  2019      9           1574.5
22  2019     11           1154.0

The average monthy delay is quite different throughout the year, with the top five averages consisting in large part of the summer months. This could be due to a multitude of factors, a prime example being summer vacation traffic.