## Exploratory Data Analysis

Use this notebook to get familiar with the datasets we have. There is 10 questions we need to answer during the EDA.


We shouldn't limit our EDA to these 10 questions. Let's be creative :).

In [42]:
# Import Pandas and Numpy to deal with DataFrames and NaN
import pandas as pd
import numpy as np

# Import MatPlotLib and Seaborn to help visualize the data
import matplotlib.pyplot as plt
import seaborn as sns

# Import os for file reader
import os

In [43]:
# Get current working directory
current_directory = os.getcwd()
print(current_directory)

/Users/brandonrose/Midterm_Project

In [44]:
# Pull the data from csv by concatenating current working directory with
# '/data/flights_5000.csv'
data = pd.read_csv(current_directory +'/data/flights_5000.csv')

In [45]:
data.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-03-08,WN,WN,WN,1094,WN,N7850B,1094,14683,SAT,...,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-08,WN,WN,WN,1302,WN,N255WN,1302,14683,SAT,...,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-08,WN,WN,WN,1802,WN,N778SW,1802,14683,SAT,...,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-08,WN,WN,WN,1851,WN,N935WN,1851,14683,SAT,...,248,57.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2018-03-08,WN,WN,WN,2022,WN,N724SW,2022,14683,SAT,...,248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### **Task 1**: Test the hypothesis that the delay is from Normal distribution. and that **mean** of the delay is 0. Be careful about the outliers.

2018-03-08    5000
Name: fl_date, dtype: int64

#### **Task 2**: Is average/median monthly delay different during the year? If yes, which are months with the biggest delays and what could be the reason?

In [17]:
# List data columns for reference
data.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [14]:
# First, we can convert the column dtype for the date from Object to datetime64
data['fl_date'] = pd.to_datetime(data['fl_date'])

In [19]:
# Create DF with year column, delay columns, diverted and cancellation
df_delays = data[['fl_date', 'dep_delay', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'diverted', 'cancelled']]
df_delays.head(10)

,fl_date,dep_delay,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,diverted,cancelled
0,2018-03-08,3.0,-4.0,NaN,NaN,NaN,NaN,NaN,0,0
1,2018-03-08,4.0,3.0,NaN,NaN,NaN,NaN,NaN,0,0
2,2018-03-08,6.0,-4.0,NaN,NaN,NaN,NaN,NaN,0,0
3,2018-03-08,65.0,57.0,57.0,0.0,0.0,0.0,0.0,0,0
4,2018-03-08,7.0,-1.0,NaN,NaN,NaN,NaN,NaN,0,0
5,2018-03-08,-2.0,-13.0,NaN,NaN,NaN,NaN,NaN,0,0
6,2018-03-08,0.0,-8.0,NaN,NaN,NaN,NaN,NaN,0,0
7,2018-03-08,15.0,6.0,NaN,NaN,NaN,NaN,NaN,0,0
8,2018-03-08,0.0,7.0,NaN,NaN,NaN,NaN,NaN,0,0
9,2018-03-08,-1.0,-1.0,NaN,NaN,NaN,NaN,NaN,0,0

In [21]:
# Check dtypes
df_delays.dtypes

fl_date                datetime64[ns]
dep_delay                     float64
arr_delay                     float64
carrier_delay                 float64
weather_delay                 float64
nas_delay                     float64
security_delay                float64
late_aircraft_delay           float64
diverted                        int64
cancelled                       int64
dtype: object

In [26]:
# We know everything is numeric, so we can fill NaN with 0s
df_delays = df_delays.fillna(0)

In [29]:
# Group by year, month and median the delay based columns
delays_grouped = df_delays.groupby('fl_date')

In [41]:
delays_grouped.mean()

,dep_delay,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,diverted,cancelled
fl_date,,,,,,,,,
2018-03-08,7.9112,1.8286,3.3992,0.4196,1.7518,0.0048,3.5988,0.0004,0.0214

### Note: We may need to download bigger csv files, as the 5000 datapoints only reflect flights on one day of March 2018

#### **Task 3**: Does the weather affect the delay? 
Use the API to pull the weather information for flights. There is no need to get weather for ALL flights. We can choose the right representative sample. Let's focus on four weather types:
- sunny
- cloudy
- rainy
- snow.
Test the hypothesis that these 4 delays are from the same distribution. If they are not, which ones are significantly different?

#### **Task 4**: How taxi times changing during the day? Does higher traffic lead to bigger taxi times?

#### **Task 5**: What is the average percentage of delays that is already created before departure? (aka are arrival delays caused by departure delays?) Are airlines able to lower the delay during the flights?

#### **Task 6**: How many states cover 50% of US air traffic?

#### **Task 7**: Test the hypothesis whether planes fly faster when there is the departure delay?

#### **Task 8**: When (which hour) do most 'LONG', 'SHORT', 'MEDIUM' haul flights take off?

#### **Task 9**: Find the top 10 the bussiest airports. Does the biggest number of flights mean that the biggest number of passengers went through the particular airport? How much traffic do these 10 airports cover?

#### **Task 10**: Do bigger delays lead to bigger fuel comsumption per passenger? 
We need to do four things to answer this as accurate as possible:
- Find out average monthly delay per air carrier (monthly delay is sum of all delays in 1 month)
- Find out distance covered monthly by different air carriers
- Find out number of passengers that were carried by different air carriers
- Find out total fuel comsumption per air carrier.

Use this information to get the average fuel comsumption per passenger per km. Is this higher for the airlines with bigger average delays?