# Models

Regression Problem: The goal is to predict delay of flights.

In [2]:
import pandas as pd

In [25]:
flights = pd.read_csv('data/flights_10000.csv', index_col=0)
flights.head()

,fl_date,mkt_unique_carrier,branded_code_share,mkt_carrier,mkt_carrier_fl_num,op_unique_carrier,tail_num,op_carrier_fl_num,origin_airport_id,origin,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-10,WN,WN,WN,2212,WN,N958WN,2212,14683,SAT,...,822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-10-10,UA,UA,UA,206,UA,N68811,206,13930,ORD,...,1005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-18,AA,AA_CODESHARE,AA,4221,MQ,N694AE,4221,12891,LAW,...,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-25,UA,UA_CODESHARE,UA,4822,ZW,NaN,4822,14685,SAV,...,773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-24,DL,DL,DL,957,DL,N693DL,957,11433,DTW,...,1960.0,0.0,0.0,28.0,0.0,0.0,NaN,NaN,NaN,NaN

In [26]:
flights.columns

Index(['fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time', 'dep_time',
       'dep_delay', 'taxi_out', 'wheels_off', 'wheels_on', 'taxi_in',
       'crs_arr_time', 'arr_time', 'arr_delay', 'cancelled',
       'cancellation_code', 'diverted', 'dup', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [27]:
#convert date to datetime
import datetime as dt

In [28]:
flights['fl_date'] = pd.to_datetime(flights['fl_date'])

In [29]:
flights.dtypes

fl_date                datetime64[ns]
mkt_unique_carrier             object
branded_code_share             object
mkt_carrier                    object
mkt_carrier_fl_num              int64
op_unique_carrier              object
tail_num                       object
op_carrier_fl_num               int64
origin_airport_id               int64
origin                         object
origin_city_name               object
dest_airport_id                 int64
dest                           object
dest_city_name                 object
crs_dep_time                    int64
dep_time                      float64
dep_delay                     float64
taxi_out                      float64
wheels_off                    float64
wheels_on                     float64
taxi_in                       float64
crs_arr_time                    int64
arr_time                      float64
arr_delay                     float64
cancelled                     float64
cancellation_code              object
diverted                      float64
dup                            object
crs_elapsed_time              float64
actual_elapsed_time           float64
air_time                      float64
flights                       float64
distance                      float64
carrier_delay                 float64
weather_delay                 float64
nas_delay                     float64
security_delay                float64
late_aircraft_delay           float64
first_dep_time                float64
total_add_gtime               float64
longest_add_gtime             float64
no_name                       float64
dtype: object

In [30]:
flights = flights.select_dtypes(exclude=['object'])

In [31]:
flights

,fl_date,mkt_carrier_fl_num,op_carrier_fl_num,origin_airport_id,dest_airport_id,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-10,2212,2212,14683,10693,705,702.0,-3.0,13.0,715.0,...,822.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-10-10,206,206,13930,13204,800,757.0,-3.0,20.0,817.0,...,1005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-18,4221,4221,12891,11298,1034,1040.0,6.0,17.0,1057.0,...,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-11-25,4822,4822,14685,13930,2200,NaN,NaN,NaN,NaN,...,773.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-10-24,957,957,11433,14908,841,840.0,-1.0,45.0,925.0,...,1960.0,0.0,0.0,28.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-07-24,5194,5194,12197,10397,1235,1227.0,-8.0,9.0,1236.0,...,780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,2019-12-05,2489,2489,10849,14747,1915,1912.0,-3.0,20.0,1932.0,...,543.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,2018-03-01,3687,3687,11618,15016,622,621.0,-1.0,20.0,641.0,...,872.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,2018-10-06,7395,7395,14869,14794,1730,1721.0,-9.0,17.0,1738.0,...,272.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,2018-04-21,4510,4510,13796,12892,1505,1517.0,12.0,8.0,1525.0,...,337.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#remove categorical int cols
flights.drop(['mkt_carrier_fl_num', 'op_carrier_fl_num', 'origin_airport_id', 'dest_airport_id'],axis = 1, inplace = True)

In [33]:
flights.fillna(0, inplace = True)

In [34]:
flights

,fl_date,crs_dep_time,dep_time,dep_delay,taxi_out,wheels_off,wheels_on,taxi_in,crs_arr_time,arr_time,...,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,first_dep_time,total_add_gtime,longest_add_gtime,no_name
0,2018-07-10,705,702.0,-3.0,13.0,715.0,907.0,6.0,915,913.0,...,822.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019-10-10,800,757.0,-3.0,20.0,817.0,1131.0,8.0,1148,1139.0,...,1005.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019-07-18,1034,1040.0,6.0,17.0,1057.0,1125.0,13.0,1130,1138.0,...,140.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2018-11-25,2200,0.0,0.0,0.0,0.0,0.0,0.0,2327,0.0,...,773.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2018-10-24,841,840.0,-1.0,45.0,925.0,1056.0,11.0,1039,1107.0,...,1960.0,0.0,0.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2019-07-24,1235,1227.0,-8.0,9.0,1236.0,1438.0,9.0,1458,1447.0,...,780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9996,2019-12-05,1915,1912.0,-3.0,20.0,1932.0,2008.0,14.0,2022,2022.0,...,543.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,2018-03-01,622,621.0,-1.0,20.0,641.0,829.0,5.0,824,834.0,...,872.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,2018-10-06,1730,1721.0,-9.0,17.0,1738.0,1824.0,3.0,1840,1827.0,...,272.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,2018-04-21,1505,1517.0,12.0,8.0,1525.0,1623.0,5.0,1625,1628.0,...,337.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Main Task: Regression Problem
The target variable is ARR_DELAY. We need to be careful which columns to use and which don't. For example, DEP_DELAY is going to be the perfect predictor, but we can't use it because in real-life scenario, we want to predict the delay before the flight takes of --> We can use average delay from earlier days but not the one from the actual flight we predict.

For example, variables CARRIER_DELAY, WEATHER_DELAY, NAS_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY shouldn't be used directly as predictors as well. However, we can create various transformations from earlier values.

We will be evaluating your models by predicting the ARR_DELAY for all flights 1 week in advance.

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [20]:
import warnings
warnings.filterwarnings('ignore')

flights_test.columns

'fl_date', 'mkt_unique_carrier', 'branded_code_share', 'mkt_carrier',
       'mkt_carrier_fl_num', 'op_unique_carrier', 'tail_num',
       'op_carrier_fl_num', 'origin_airport_id', 'origin', 'origin_city_name',
       'dest_airport_id', 'dest', 'dest_city_name', 'crs_dep_time',
       'crs_arr_time', 'dup', 'crs_elapsed_time', 'flights', 'distance'

In [35]:
flights.columns

Index(['fl_date', 'crs_dep_time', 'dep_time', 'dep_delay', 'taxi_out',
       'wheels_off', 'wheels_on', 'taxi_in', 'crs_arr_time', 'arr_time',
       'arr_delay', 'cancelled', 'diverted', 'crs_elapsed_time',
       'actual_elapsed_time', 'air_time', 'flights', 'distance',
       'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay',
       'late_aircraft_delay', 'first_dep_time', 'total_add_gtime',
       'longest_add_gtime', 'no_name'],
      dtype='object')

In [ ]:
#Declare feature vector and target variable
X = flights.drop('Item_Outlet_Sales', axis = 1)
y = flights['Item_Outlet_Sales']